/ Main Content
.row
  .large-12.columns
    %h4#reacciones.animated.bounceInRight{:style => "text-align:right"}
      %a{href: "/reviews"} Reseñas
    #scroll-wrap.container
      .main
        #bookshelf.bookshelf
          %figure
            .book{"data-book" => "book-2"}
            .buttons
              %a{href: "#"} Echa un ojo
              %a{href: "#"} Detalles
            %figcaption
              %h2
                Afinando un sueño
                .edition-note
                  Reedición revisada y ampliada
                  %br
                  %small (incluye más de 200 páginas de contenido adicional)
                %span#tosca Oskar Díaz Toscano
            .next
              %p.amazon-label Disponible en
              .amazon-links
                %a.amazon-btn.es.random-hover{href: "https://www.amazon.es/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon España
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "chiquito.png", alt: "", class: "icon-variant"
                    = image_tag "ham.png", alt: "", class: "icon-variant"
                    = image_tag "athletic.png", alt: "", class: "icon-variant"
                    = image_tag "churros.png", alt: "", class: "icon-variant"
                    = image_tag "tapas.png", alt: "", class: "icon-variant"
                    = image_tag "san-fermin.png", alt: "", class: "icon-variant"
                    = image_tag "guggenheim.png", alt: "", class: "icon-variant"
                    = image_tag "faeminocansado.png", alt: "", class: "icon-variant"
                %a.amazon-btn.jp.random-hover{href: "https://www.amazon.co.jp/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Japón
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "sanae.png", alt: "", class: "icon-variant"
                    = image_tag "onigiri.png", alt: "", class: "icon-variant"
                    = image_tag "pachinko.png", alt: "", class: "icon-variant"
                    = image_tag "fuji.png", alt: "", class: "icon-variant"
                    = image_tag "ramen.png", alt: "", class: "icon-variant"
                    = image_tag "dordokamaisu.png", alt: "", class: "icon-variant"
                    = image_tag "drunk copy.png", alt: "", class: "icon-variant"
                %a.amazon-btn.us.random-hover{href: "https://www.amazon.com/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon EEUU
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "trump.png", alt: "", class: "icon-variant"
                    = image_tag "obesity.png", alt: "", class: "icon-variant"
                    = image_tag "bauer.png", alt: "", class: "icon-variant"
                    = image_tag "eeuu2.png", alt: "", class: "icon-variant"
                    = image_tag "walter white.png", alt: "", class: "icon-variant"
                %a.amazon-btn.ca.random-hover{href: "https://www.amazon.ca/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Canadá
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "jimcarrey.png", alt: "", class: "icon-variant"
                    = image_tag "animal.png", alt: "", class: "icon-variant"
                    = image_tag "maple-syrup.png", alt: "", class: "icon-variant"
                %a.amazon-btn.au.random-hover{href: "https://www.amazon.com.au/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Australia
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "australia.png", alt: "", class: "icon-variant"
                    = image_tag "koala.png", alt: "", class: "icon-variant"
                    = image_tag "person.png", alt: "", class: "icon-variant"
                    = image_tag "gods.png", alt: "", class: "icon-variant"
                %a.amazon-btn.uk.random-hover{href: "https://www.amazon.co.uk/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Reino Unido
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "balcony.png", alt: "", class: "icon-variant"
                    = image_tag "bus.png", alt: "", class: "icon-variant"
                    = image_tag "guard.png", alt: "", class: "icon-variant"
                    = image_tag "trainspotting.png", alt: "", class: "icon-variant"
                %a.amazon-btn.de.random-hover{href: "https://www.amazon.de/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Alemania
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "oktoberfest.png", alt: "", class: "icon-variant"
                    = image_tag "sausage.png", alt: "", class: "icon-variant"
                    = image_tag "einstein.png", alt: "", class: "icon-variant"
                    = image_tag "karlmarx.png", alt: "", class: "icon-variant"
                %a.amazon-btn.fr.random-hover{href: "https://www.amazon.fr/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Francia
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "cheese.png", alt: "", class: "icon-variant"
                    = image_tag "guillotine.png", alt: "", class: "icon-variant"
                    = image_tag "hate.png", alt: "", class: "icon-variant"
                    = image_tag "french.png", alt: "", class: "icon-variant"
                %a.amazon-btn.it.random-hover{href: "https://www.amazon.it/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Italia
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "delate.png", alt: "", class: "icon-variant"
                    = image_tag "motorcycle.png", alt: "", class: "icon-variant"
                    = image_tag "leaning-tower-of-pisa.png", alt: "", class: "icon-variant"
                    = image_tag "pizza.png", alt: "", class: "icon-variant"
                %a.amazon-btn.nl.random-hover{href: "https://www.amazon.nl/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Países Bajos
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "cycling.png", alt: "", class: "icon-variant"
                    = image_tag "tulip.png", alt: "", class: "icon-variant"
                    = image_tag "joint.png", alt: "", class: "icon-variant"
                %a.amazon-btn.pl.random-hover{href: "https://www.amazon.pl/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Polonia
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "npi.png", alt: "", class: "icon-variant"
                    = image_tag "i-dont-know.png", alt: "", class: "icon-variant"
                    = image_tag "question.png", alt: "", class: "icon-variant"
                    = image_tag "question-mark.png", alt: "", class: "icon-variant"
                %a.amazon-btn.se.random-hover{href: "https://www.amazon.se/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Suecia
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "meatballs.png", alt: "", class: "icon-variant"
                    = image_tag "allen-keys.png", alt: "", class: "icon-variant"
                    = image_tag "man.png", alt: "", class: "icon-variant"
                    = image_tag "abba.png", alt: "", class: "icon-variant"
                %a.amazon-btn.be.random-hover{href: "https://www.amazon.com.be/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Bélgica
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "fountain.png", alt: "", class: "icon-variant"
                    = image_tag "atomium.png", alt: "", class: "icon-variant"
                    = image_tag "investor.png", alt: "", class: "icon-variant"
                    = image_tag "waffle.png", alt: "", class: "icon-variant"
                %a.amazon-btn.ie.random-hover{href: "https://www.amazon.ie/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Irlanda
                  .btn-icon
                    = image_tag "book.png", alt: "", class: "icon-default"
                    = image_tag "hat.png", alt: "", class: "icon-variant"
                    = image_tag "beer.png", alt: "", class: "icon-variant"
                    = image_tag "drunk.png", alt: "", class: "icon-variant"
                    = image_tag "clover-leaf.png", alt: "", class: "icon-variant"
                    = image_tag "bono.png", alt: "", class: "icon-variant"
              %button#pedir.animated.review-btn{type: "button", :data=>{"reveal-id" => "pedirLibro"}}
                .svg-wrapper-1
                  .svg-wrapper
                    %svg{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", width: "24", height: "24"}
                      %path{fill: "none", d: "M0 0h24v24H0z"}
                      %path{fill: "currentColor", d: "M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"}
                %span Enviar reseña
            .details
              %ul
                %li Autoeditado
                %li dic 2013 / ene 2026
                %li 447 páginas
                %li.small-details
                  %span.details-story Con mujer, hijos e hipoteca en Tokio, Oskar Díaz nos cuenta a través de pequeñas historias como logró encarrilar su sueño de vivir en Japón hace ya 19 años.
                  %br
                  %br
                  Encontrarás desde amores de prestado, desengaños y borracheras a patadas de karate y ceremonias de té al abrigo de un Tokio por descubrir.
                  %br
                  %br
                  Hay capítulos especiales dedicados a cómo el autor vivió el gran terremoto de Tohoku y el tsunami que asoló Fukushima.
                  %br
                  %br
                  Disponible en papel y en formato electrónico.

      / /main
    / /container
    / Fullscreen BookBlock
    / for demo purpose we repeat each bookblock
    #book-2.bb-custom-wrapper
      .bb-bookblock
        .bb-item
          .bb-custom-side.page-layout-4.p1.left{data: { image: asset_path("page1.png") }}
          .bb-custom-side.page-layout-4.p2.right{data: { image: asset_path("page2.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p3.left{data: { image: asset_path("page3.png") }}
          .bb-custom-side.page-layout-4.p4.right{data: { image: asset_path("page4.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p5.left{data: { image: asset_path("page5.png") }}
          .bb-custom-side.page-layout-4.p6.right{data: { image: asset_path("page6.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p7.left{data: { image: asset_path("page7.png") }}
          .bb-custom-side.page-layout-4.p8.right{data: { image: asset_path("page8.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p9.left{data: { image: asset_path("page9.png") }}
          .bb-custom-side.page-layout-4.p10.right{data: { image: asset_path("page10.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p11.left{data: { image: asset_path("page11.png") }}
          .bb-custom-side.page-layout-4.p12.right{data: { image: asset_path("page12.png") }}

      / /bb-bookblock
      %nav
        %a.bb-nav-prev{href: "#"} Previous
        %a.bb-nav-next{href: "#"} Next
        %a.bb-nav-close{href: "#"} Close
    / /bb-custom-wrapper
/ End Main Content
