!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Afinando un sueño, el ikulibro
    = stylesheet_link_tag  "application"
    = csrf_meta_tags
  %body{:data => {:no => {:turbolink=>""}}}
    / Nav Bar
    = render 'pedir_libro_modal'
    .row
      .large-12.columns
        .nav-bar.right
          %ul.button-group
            %li
              %a.button{href: "http://www.verkami.com/projects/6537-afinando-un-sueno-el-ikulibro"} Proyecto en Verkami
            %li{:style => "position: relative; top: 10px"}
              = image_tag "here.gif"
              <- la historia aqui
        %h1
          Afinando un sueño
          %small El ikulibro
        %hr/
    / End Nav
    / Main Page Content and Sidebar
    .row
      .large-12.columns{role: "content"}
        = yield

    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %h6.subheader
              Libro "Afinando un sueño" escrito por
              %b Oskar Díaz Toscano.
            %h6.subheader
              Diseño y maquetación:
              %b Fran Valenciano
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{href: "http://www.ikublog.com"} Ikublog
              %li
                %a{href: "http://www.historiasdeunabstracto.com"} Historias de un abstracto
  = javascript_include_tag "application"
